@charset "utf-8";

#Banner {
	background-color: bisque;
	font-family: Arial;
	font-size : 30px;
	text-align: center;
}

#Navbar {
	background-color:bisque;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	border: solid #000000;
}

#Content {
	font-family: Arial;
	font-size: 18px;	
}


#Title {
	font-family: Arial;
}

#costd {
	font-family: Arial;
	font-size:18px;
}
#color {
	background-color: #FFE2BA
}